
*{box-sizing: border-box;}  /*// padding is not add at the dimension of the onject*/ 

html{
	--colorblue:#1d53af;
	--colorskyblue:#179bc6;
	--colorred:#ff411c;
	--colorgreen:#a0c623;
	--colorgray:#c1c1c1;
}
body{
	margin:0;
	font-family:'consolas','Courier', 'sans-serif';
	text-align:center;
	background: radial-gradient(ellipse at center, rgba(131,234,174,.6) 0%,rgba(145,232,66,.7) 100%); 
	max-width:99vw;
}
/*###### TITLE-LOGO NAVBAR  #######*/
header{
	margin-top:1em;
	position:absolute;
	left:0;
	right:0;
	top:-1em;
}
img.logo{
	position: absolute;
	width:4rem;
	left:1em;
	top:.5em;
	height:auto;
	opacity:0.7;
	border-radius: .2rem;
	margin:0;
	padding:0;
}
img{
max-width: 99vw;
}
nav{
	padding-top:2em;
}
nav li{
	display: inline-block;
	list-style: none;
	margin:.3rem;
}
li.skew{
	color: orange;
}
nav a{
	background-color:var(--colorgray);
	display: inline-block;
	padding:.5em;
	font-weight: 900;
	font-size: .7rem;
	text-decoration: none;
	text-transform: uppercase;
	border-radius:.4em;
	color:var(--colorgreen);
	border:1px solid var(--colorskyblue);
	text-shadow: 1px 1px 3px var(--colorblue);
	box-shadow: 0px 0px 3px var(--colorskyblue);
	transition: all .3s;
}
nav a:hover{
	
	color:var(--colorblue);
}
		
		/*######  HEADER  #######*/
.home-home{
	padding:1em;
	background-size: cover;
}
.home-home h1{
	text-shadow: 0px 0px 2px var(--colorred); 
	color: white;margin: 4em auto 2em auto;
    margin-top: 4em;letter-spacing: .2rem;font-family: Century Gothic, CenturyGothic, AppleGothic;
	mix-blend-mode: exclusion;
	font-size:5vw;
}
		/*######  BUTTON-HEADER  #######*/
.home-home a{
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	padding: .8em 1em;
	margin-bottom:.5em;
	color:var(--colorblue);
	border: 1px solid var(--colorskyblue);
	font-weight:900;
	box-shadow: 0px 0px 3px var(--colorskyblue);
	border-radius: .4rem;
	z-index:3;
	overflow:hidden;
}


/*######  ######  MEDIA QUERY HEADER!!  #######   #######*/
	
	@media (min-width:60rem){

		h1.first-title{
			font-size:6vw;
			margin-top:2.5em;
			font-weight: bolder;
 		   	letter-spacing: .1em;
   			word-spacing: 1rem;
		}
		img.logo{
			left:.5em;
			top:.5em;
			margin:2em 0em 1em 5em;
			width:15rem;
		}
		nav{
			position:absolute;
			top:3em;
			right:4em;
			letter-spacing: .1em;
		}
		ul{
			padding: 0;
			margin: 0;
		}
		li.skew{
			transform: skewX(30deg);
			margin:0 2em;
			background: linear-gradient(253deg, rgba(102,210,249,.6) 0%,rgba(102,210,249,.7) 0%,rgba(255,239,183,.6) 32%,rgba(102,210,249,.7) 51%,rgba(255,239,183,.6) 78%,rgba(255,239,183,.6) 100%);
			display: inline-block;
			padding:.8em 2em;
			text-transform: uppercase;
			border-radius:.4em;
			color:var(--colorgreen);
			text-shadow: 1px 1px 2px rgba(9,9,9,.2);
			box-shadow: 2px -2px 5px 1px rgba(9,9,9,.3);
		}

		nav li.skew > a{
			transform: skewX(-30deg);
			margin:0;padding:0;
			background: transparent;
			box-shadow: none;
			border: none;
			display: block;
			font-size:1.2rem;
			color:orange;
			opacity: .9;
		}
		
		.home-home{
			padding:1em 0 8em 0;
		}

		.home-home a { 
			position:absolute;
			margin-top:-1em;
			top:auto;
			transform: translateX(-50%);
			cursor: pointer;
			z-index: 2;
			
		}
		.home-home a:before{
			content:'see our work';
			padding-top:1em;
			text-align: bottom;
			margin-top:-0.2em;
			color:var(--colorred);
			height:100%;
			width:120%;
			position:absolute;
			background-color:white;
			transform:skewX(-15deg);
			left:-15em;
			top:0em;
			bottom:0;
			z-index: 1;
			transition: left .5s;
		}
		.home-home a:hover:before{
			left:-1em;
			z-index: 1;
		}

	}
		/*########  HWO WE ARE  #########*/
.home-about-textbox{
	background-color:var(--colorblue);
	color:var(--colorgray);
	padding:2em;
	outline:2px solid var(--colorgreen); /*outline has also offset, margin not*/
	outline-offset:-1.6em;
	position:relative;
	opacity: .9;

}
.home-about-textbox h2{
	color:var(--colorgreen);
	position:absolute;
	margin-top:-1em;
	background: var(--colorblue);
	padding:.1em;
	transform:translateX(-50%);
	left:50%;
	font-size: 1.3em
}

.home-about{
	background-image: url(imgs/backgr-1.jpg);
}

@media (min-width:60rem){   /*########  HWO WE ARE MEDIA QUERY  #########*/
	.home-about{
		position:relative;
		max-width:95%;
		background-image: url(imgs/backgr-1.jpg);
		padding:12em;
		top:-3em;
		transform:rotate(1deg);
		margin:0 auto;
		/*left:50%;
		transform:translateX(-50%);*/
		z-index: 2;
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2)
		
	}
	.home-about-textbox{
		max-width:25em;
		padding:4em;
		position:absolute;
		top:-8em;
		left:3%;
		box-shadow: 0px 0px 10px 5px black;
		z-index: 3;
		transform: rotate(356deg);
		transition: transform .5s; /*<.....*/
	}  									  /**/
	.home-about-textbox:hover {			  /**/ 
		transform: rotate(359deg);/* -----| */
	}

	.home-about-textbox h2{
		top:1.5em;
	}
}

/*##########    PORTFOLIO!!     ##########*/

.portfolio{
	margin:0;
}
figure.port-item{
	position:relative;
	margin:0;
}
.port-item:hover .port-description{
	bottom:1em;
}
figure.port-item img{
	display:block; /*or a thin line stay on the bottom of every img*/
	width:100%;
	height:100%;
}
figcaption.port-description{
	position:absolute; /*ABSOLUTE NEEDS DIMENTION AND DIRECTIONS*/
	bottom:-8em;
	left:2em;
	right:2em;
	width:70%;
	margin: 0 auto;
	color:white;
	background:rgba(0,0,0,.75);
	padding:0 1em 1em 1em;
	border-radius: .5em;
	transition: bottom .5s;
}
figcaption a.button-small{
	color:var(--colorskyblue);
	text-decoration:none;
	text-transform:capitalize;
	padding:.5em;
	border:2px solid var(--colorskyblue);
}
figcaption p{
	color:var(--colorgreen);
	text-shadow: 0 0 1em var(--colorgreen);
}

@media (min-width:60em){ /*###### DESKTOP V. PORTFOLIO ######*/

	.portfolio{
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		width:100%;
		position:relative;
		overflow:hidden;
	}

	figure.port-item{
		width:33vw;
	}
	
	figure.port-item img{
	/*max-height:50vh;*/
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
	}

}

/*	#	#	#	#	########## -->PRE<- FOOTER ##########	#	#	#	#*/

section.pre-footer{
	padding:3rem 2rem;
	position:relative;
	background-color: var(--colorgreen);
	font-weight: 300;
	text-transform: capitalize;
	position:relative;
	color:var(--colorblue);
	text-shadow: 0px 0px 3px var(--colorskyblue);
}
section.pre-footer h3{
	font-size: 1.7rem;
	margin-top:0;
}
section.pre-footer h4{
	font-size:1rem;
	margin-top:-1rem;
}
.pre-footer a.button-prefooter{
	width:9em;
	text-transform:uppercase;
	text-decoration:none;
	padding:.5em 2em;
	color:var(--colorred);
	border:2px solid var(--colorskyblue);
	box-shadow: 0px 0px 3px var(--colorblue);
}

@media (min-width: 60em){
	section.pre-footer{
		font-weight: 900;
	}
	section.pre-footer h3{
		font-size:2rem;
		text-transform:uppercase;
		letter-spacing: .6em;
	}
	section.pre-footer h4{
		font-size:1.5rem;
		letter-spacing: .25em;
	}
	.pre-footer a.button-prefooter{
		width:12em;
		padding:.8em 3em;
	}
	.pre-footer a.button-prefooter:hover{
		box-shadow: 0 0 10px black;
	}
}

/* # # # # # # # FOOTER #####  ###   FOOTER ### # ### # #*/

footer{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #333;
	color:#aaa;
}
footer .list{
	width:100%;
	display: flex;
	justify-content: space-around;
}
footer li{
	list-style: none;
	margin-left:-2em;
}
/* ### # ##  ##  FOOTER  BIG SCREEN ###  ## ## */
 
 @media (min-width:60em){
 	footer{
 		padding-left:5em;
 		color:#aaa;
 		background-color: #333;
 	}
 	footer p{
 		width:40%;
 		align-self:center;
 		border-left:solid var(--colorred) 2px;
 		border-right:solid var(--colorred) 2px;
 	}
 	footer .list{
 		width:60%;
 	}
 	
 		

 	}
 }